<body class="dark">
    <div id ="wrapper">
        <header></header>

                        <h1>This is Gonna Get Kinda F*cked-up</h1>
                        <p>These ideas are more twisted than the other ones. Whatever, don't say I didn't warn you. Click the big blue button, you god-damn deviant. </p>



                            <div id="ideaBox">

                                <!-- <div id="ideaBox" ng-repeat="client in clients">{{client.name}} -->
                           

                                <h5>Why don't you write about...</h5>

                                <p>
                                    {{joke ||'...'}}
                                </p>

                            </div>

                            <div>

                            <button ng-click="submitButton()" class="btn btn-info" id="submitButton">Gimme an Idea</button>  

                                        <div id="share-buttons" class="right">
                                        
                                            <img id="facebook-share"  class="inline" src="../assets/images/facebook.png">
                                            <img id="twitter-share"  class="inline" src="../assets/images/twitter.png">
                                            <img id="email-share"  class="inline" src="../assets/images/email.png">
                                        </div>
                </div>
            <div class="space-block-1">
                <p><a href="#" id="light" >Go back</a> to the shallow end of the pool.</p>
            </div>
               
</div>
</body>